*{
    box-sizing: border-box;
 }
 .container{
     width: 100%;
     display: flex;
     background-color: #eaeaea;
     justify-items: flex-end;
     font-family: Helvetica;
 }

 .container p{
     font-size: 18px;
 }

 .leftSide{
     width: 12%;
     min-width: 100px;
     /* background-color: green; */
 }

 .mainMenu{
     margin-top: 0;
     height: 30vh;
     padding-left: 0px;
     background-color: #596166;    
     list-style-type: none;
     width: 90%;
                     
 }

 .menuItem{ 
     display: flex;
     align-items: center;
     justify-content: center;
     background-color:#1d3241;    
     cursor: pointer;
     height: 20%;
     min-height:20px; 
     border-top: 1px solid #b49c9c98;
     
 }

 .menuItem:hover{
     background-color: #201b24;
 }

 .anchorMenu{
     text-decoration: none;
     color: #d0dfe5;  
 }

 .anchorMenu:hover{
     color: #b5a6be;
     font-weight: bold;
 }

 .content{
     width:83vw;    
     padding-bottom: 1%;
     background-color: #2222;
 }
 
 .containerOnText{
     background-color: #ffffff6e;
     margin-top: 15px;
     padding: 20px 20px 5px 20px;
 }

.authors{
    position: relative;;
    margin: auto;
    margin-top: 4%;
    width: 60%;
    height: 30%;;
    border: solid #b89898 1px;
    background-color: #32383e;
    color: #ffffff;
    align-self: center;  
}

.authors td{
    border-top:  1px solid #dee2e64d;
    padding: 0.4em 0 0 0.7em;
}
.mainTitle{
    text-align: center;
}
/* counter-increment */
.placeOnNavButton{
    text-align: center;
    
}
.navButton:hover{
    box-shadow: 1px 1px #1d32413a;
    background-color: #cfcbcb;
    font-weight: bold;
    cursor: pointer;
}
/* a{
    text-decoration: none;
} */